.top-animated-nav {
  opacity: 0;
  transform: translateY(-80%);
  transition: all 0.4s ease-in-out !important;
}
.nav-animation {
  opacity: 1;
  transform: translateX(0%);
  transform: translateY(0);
  overflow-x: hidden !important  ;
}
.nav {
  background-color: var(--body-color) !important;
}
.navbar-brand {
  color: var(--first-color) !important;
  background-color: transparent !important;
  font-family: serif !important;
  font-style: italic;
  font-size: 24px !important ;
}
.NavColor {
  color: white !important;
  transition: 0.9s all !important;
  margin: 0px 8px;
  font-weight: 600 !important;
  font-family: "Times New Roman";
}
.NavColor:hover {
  color: var(--first-color) !important;
}
.navbar {
  border-bottom: 1px solid var(--first-color);
}
.nav-button a,
.nav-button i {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar-toggler {
  margin-bottom: 3px !important;
}
